<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wushiyi.util">
    <application>
        <!-- 全局Context提供者 -->
        <provider
            android:name=".UtilInitProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />
    </application>
</manifest>
